body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('images/military_texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow-x: auto;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-bottom: 5px;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
}

table, th, td {
    border: 1px solid #ccc;
    text-align: center;
}

th, td {
    padding: 10px;
}

.ver-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.ver-button {
    background-color: #28a745;
}

.ver-button:hover {
    background-color: #218838;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

.verificado {
    color: green;
    font-weight: bold;
}

.no-verificado {
    color: red;
    font-weight: bold;
}

#verMas {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

#verMas:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    form {
        align-items: center;
    }

    table, th, td {
        font-size: 12px;
    }

    button {
        padding: 8px 15px;
    }

    h1, h2 {
        font-size: 24px;
    }

    label, input, select, button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 20px;
    }

    label, input, select, button {
        font-size: 12px;
    }

    th, td {
        font-size: 10px;
    }
}
